html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    scroll-margin-top: 20vh;
}

/* HEADER */

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0.5em 2em 0 2em;
    box-shadow: 0px 5px 10px 0px black;
    background: linear-gradient(60deg, rgba(236,167,5,0.1) 0%,
                                   rgba(207,72,38,0.3) 10%, 
                                   rgba(204,9,78,0.5) 20%, 
                                   rgba(164,49,179,0.7) 30%, 
                                   rgba(65,14,219,0.9) 40%, 
                                   rgba(10,138,209,0.9) 50%, 
                                   rgba(20,189,228,0.9) 60%, 
                                   rgba(3,207,119,0.9) 70%, 
                                   rgba(3,212,24,0.9) 80%, 
                                   rgba(170,234,2,0.9) 90%, 
                                   rgba(231,240,6,0.9) 100%);
}

#logo {
    width: 60vw;
}

#header-img {
    max-width: auto;
    max-height: 80px;
}

#nav-bar {
    width: 40vw;
    font-size: 18px;
}

#nav-bar ul {
    display: flex;
    justify-content: space-around;
}

#nav-bar li {
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* Container */

.container {
    max-width: 50vw;
    width: 100%;
    margin: 150px auto;
}

#title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 2em;
}

/* About */

.icon {
    width: 10vw;
}

.description {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h2 {
    padding: 0;
    margin: 0;
}

.description p {
    padding: 0;
    margin: 0;
}

.icon i {
    font-size: 3em;
}

.fa-camera-retro {
    color: rgb(247, 26, 103);
}

.fa-magic {
    color: rgb(126, 86, 247); 
}

.fa-palette {
    color: rgb(43, 181, 255);
}

#about li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 2em;
}

/* How it works */

#howitworks {
    margin-top: 50px;
    display: flex;
}

#howitworks iframe {
    max-width: 40vw;
    width: 100%;
    height: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(24, 23, 23);
}

/* Contact */

#contact {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-rows: 2fr 6fr;
    grid-template-areas:
        "header header header"
        "image form form";
    max-width: 70vw;
    background:rgba(247, 26, 103, 0.5);
    border-radius: 5px;
    padding: 10px 30px 20px 30px;
    box-shadow: 0px 0px 10px rgb(24, 23, 23);
}

#contact h3 {
    font-size: 25px;
    text-align: center;
    grid-area: header;
}

#contact-img {
    grid-area: image;
    width: 100%;
    align-self: top;
}

#form {
    padding: 10px 30px 20px 30px;
    align-self: center;
    grid-area: form;
}

.form-control {
    display:block;
    margin-bottom: 2em;
    border-radius: 3px;
    border: 0px;
    height: 25px;
    width: 100%;
    padding-left: 1em;
}

#question {
    min-height: 100px;
    padding-top: 0.8em;
}

#submit {
    display: flex;
    margin: auto;
    width: 120px;
    justify-content: center;
    height: 30px;
    border-radius: 3px;
    background: rgb(43, 181, 255);
    color: white;
    font-weight: 700;
    border: 0px;
}